<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
  {% extends "admin/base.html" %}

  {% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
  
  {% block branding %}
  <h1 id="tarea"><a href="{% url 'admin:index' %}">Panel Administration - Tarea Django</a></h1>
  {% endblock %}
  
  {% block nav-global %}{% endblock %}
</body>
</html>