<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    {% extends "admin/base.html" %}

    {% block content %}
    <div class="custom-index-page">
        <h1>Panel de Administrativo</h1>
        <p>click en la barra izquierda para ver opciones </p>
        <ul>

        </ul>
    </div>
    {% endblock %}    
</body>
</html>